<div id="container">
    <h1>QA Security Testing of BOLT</h1>
    <div id="header">
        <div id="header-left"><p>Scan Report</p></div>
        <div id="header-right"><button_back_to_dashboard/></div>
    </div>
    <div id="report-container">
        <div if(state.report === 'bolt1')>
            Burp full report
        </div>
    </div>
</div>