#container{
    width: auto;
    padding: 0 5% 0 5%;
}
#header{
    height: 20%;
    width: 100%;
    float: left;
}
#header-left{
    height: 50%;
    float: left;
}
#header-right{
    height: 50%;
    float: right;
}
h1{
    text-align: center;
}
#top{
    height: 40%;
}
table{
    width: 60%;
    border-collapse: collapse;
}
table,tr,td{
    border: 1px solid black;
}
table tr:nth-child(odd){background:#AFEEEE;}
table tr:nth-child(even){background:#FFFFE0;}
tr{
    height: 50px;
}
tr.top-row{
    font-weight: bold;
}
tr.high-issue{
    color: red;
}
tr.medium-issue{
    color: orange;
}
tr.low-issue{
    color: green;
}
tr.info-issue{
    color: darkblue;
}
#bottom{
    height: 60%;
}
#bottom-left{
    height: 60%;
    width: 35%;
    float: left;
}
#bottom-right{
    height: 60%;
    width: 25%;
    float: left;
    padding: 5% 0 0 5%;
}
#report li{
    padding-left: 10px;
    height: 29px;
}
#report-container{
    width: 100%;
}
#scandiv{
    float: left;
}
a:hover {
    color: blueviolet;
}
#submitButton{
    background:#f89301;
    height: 3em;
    width: 6em;
    line-height: 3em;
    text-align: center;
    display: block;
    border: 2px solid #fff;
    box-shadow: -1px 1px 1px rgba(51,51,51,.2);
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}
#launchNewScanButton{
    background:#f89301;
    height: 3em;
    width: 12em;
    line-height: 3em;
    text-align: center;
    display: block;
    border: 2px solid #fff;
    box-shadow: -1px 1px 1px rgba(51,51,51,.2);
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}
#backToDashboard{
    background:#ababab;
    height: 3em;
    width: 15em;
    line-height: 3em;
    text-align: center;
    display: block;
    border: 2px solid #fff;
    box-shadow: -1px 1px 1px rgba(51,51,51,.2);
    -webkit-border-radius: 3em;
    -moz-border-radius: 3em;
    border-radius: 3em;
}
div#scan-container{
    text-align: center;
    width: auto;
    height: auto;
    border: 1em solid lightblue;
}