<div id="container">
    <h1>QA Security Testing of BOLT</h1>
    <div id="header">
        <div id="header-right"><button_back_to_dashboard/></div>
    </div>
    <div id="scan-container">
        <p>Running Burp Suite on:</p>
        <p>scan Path</p>
    </div>
    <div id="scandiv">
        <button id="cancelScan"><a href="/newScan">Cancel Scan</a></button>
    </div>
</div>