<div id="container">
    <h1>QA Security Testing of BOLT</h1>
    <div id="header">
        <div id="header-right"><button_back_to_dashboard/></div>
    </div>
    <div id="scan-container">
        <p>Running Burp Suite on:</p>
        <p>${state.launch_scan_site}</p>
    </div>
    <div id="scan-div">
        <button id="cancelScan"><a href="/new_scan">Cancel Scan</a></button>
    </div>
</div>